{% include '_header.twig' %}

{# set order #}
{% set order = contenttype['sort'] %}
{% if app.request.get('order') %}
    {% set order = app.request.get('order') %}
{% endif %}

{# set page number #}
{% set page = app.request.get('page', 1) %}

{# set amount #}
{% if contenttype['listing_records'] is defined %}
    {% set amount = contenttype['listing_records'] %}
{% else %}
    {% set amount = app.config.get('general/listing_records') %}
{% endif %}

{% if records|length %}

    {# show/hide sortby item and pager #}
    {% set showsortby = false %}

    {# default list views #}
    {% if record is not defined %}

        {# tags #}
        {% if taxonomy is defined %}
            {% set showsortby = false %}
            {% set contenttype = taxonomy %}

        {% else %}
            {% set contenttype = getContenttype(records|first.contenttype.name) %}
            {% set showsortby = true %}
            {% set contenttypePager = contenttype['slug'] %}
        {% endif %}

    {# structure content #}
    {% elseif contenttype['name'] is defined %}
        {% if (contenttype['slug'] in app.config.get('general/sort_options/disabled')|keys ) %}
            {% set contenttypePager = contenttype['slug'] %}
            {% set showsortby = true %}
        {% endif %}
    {% endif %}

{% set tag = app.request.get('tag')  %}
{% if tag != null %}
    {% set tagarray = tag|split(',') %}
    {% set tagsquery = tagarray|performtagquery(contenttype, "tags")|join(' || ') %}
    {% set tagslist = tagarray|filteredtags(contenttype, "tags") %}
    {% setcontent records= 'blog' where {id: tagsquery} allowpaging limit 10 %}
{% else %}
    {% set tagslist = tag_cloud_array([], contenttype, "tags") %}
    {% setcontent records= 'blog' allowpaging limit 10 %}
{% endif %}

<!-- Start content -->
<main role="main">

<section class="block-content-header">
	<div class="grid_wrapper">

		<div class="grid">
			<div class="contents">
				{# show title and intro for structrure listview #}
				<div class="title">
				     {% setcontent page = "structure/blog" %}
                     <h1 class="title">{{ page.title }}</h1>
                     {{ page.teaser }}
				</div>
			</div>
		</div>

	</div>
</section>
<section class="grid_wrapper">
	<div class="grid">
    {% spaceless %}

    <div class="main-content">
	<ul class="results-list">
        {% if records is iterable %}
            {% for listItem in records %}
                    {% include 'items/_item-list.twig' with { record: listItem } %}
            {% endfor %}
        {% else %}
            {% include 'items/_item-list.twig' with { record: records } %}
        {% endif %}
    </ul>
        {% if records is iterable %}
            {{ pager() }}
        {% endif %}
	</div>

        <div class="sidebar">
            <div class="subnav">
                <h4 class="label epsilon"> Filter by:</h4>
                {% include 'items/_item-tagfilter.twig' %}
            </div>
        </div>

    {% endspaceless %}
</div>

</section>

</main>
 <!-- End Content -->



{% endif %}

{% include '_footer.twig' %}

