{% include '_header.twig' %}

{# set order #}
{% set order = contenttype['sort'] %}
{% if app.request.get('order') %}
    {% set order = app.request.get('order') %}
{% endif %}

{# set page number #}
{% set page = app.request.get('page', 1) %}

{# set amount #}
{% if contenttype['listing_records'] is defined %}
    {% set amount = contenttype['listing_records'] %}
{% else %}
    {% set amount = app.config.get('general/listing_records') %}
{% endif %}

{% if records|length %}

    {# show/hide sortby item and pager #}
    {% set showsortby = false %}

    {# default list views #}
    {% if record is not defined %}

        {# tags #}
        {% if taxonomy is defined %}
            {% set showsortby = false %}
            {% set contenttype = taxonomy %}

        {% else %}
            {% set contenttype = getContenttype(records|first.contenttype.name) %}
            {% set showsortby = true %}
            {% set contenttypePager = contenttype['slug'] %}
        {% endif %}

    {# structure content #}
    {% elseif contenttype['name'] is defined %}
        {% if (contenttype['slug'] in app.config.get('general/sort_options/disabled')|keys ) %}
            {% set contenttypePager = contenttype['slug'] %}
            {% set showsortby = true %}
        {% endif %}
    {% endif %}

{% if order == '-end_event' %} 
    {% set end_event = '< today' %} 
    {% set order = '-start_event' %} 
{% else %} 
    {% set end_event = '> today' %} 
    {% set order = 'start_event' %} 
{% endif %} 

{% set tag = app.request.get('tag')  %}
{% if tag != null %}
    {% set tagarray = tag|split(',') %}
    {% set tagsquery = tagarray|performtagquery(contenttype, "tags")|join(' || ') %}
    
    {% setcontent records= 'events' where {id: tagsquery} allowpaging limit 10 %}
    {% set filterroot2 = filterroot ~ "?tag=" ~ (tag|url_encode) ~ ","|url_encode %} 
{% else %}
    {% setcontent records= 'events' allowpaging limit 10 %}
    {% set filterroot2 = filterroot ~ "?tag="  %}
{% endif %}


<!-- Start content -->
<main role="main">

<section class="block-content-header">
	<div class="grid_wrapper">
		<div class="grid">
			<div class="contents">
				<div class="title">
				     <h1 class="title">Events</h1>
				     <p class="subhead">Take a look at all the hackdays, hackathons, conferences and other events we're involved in or organising. You can meet up with us there!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="grid_wrapper">
	<div class="grid">
		<div class="sidebar">
			<div class="subnav">
				<h4 class="label epsilon"> Filter by:</h4>
                {{ tag_cloud(contenttype, "tags", tagarray, {list_options: {class: "tags tags-large"}, link_options : { class: "tag", root_url: filterroot2 } }) }}
			</div>	
		</div><!--
--><div class="main-content"><!--
	--><ul class="results-list"><!--
        {% for listItem in records %}
			{% include 'items/_item-list.twig' with { record: listItem } %}			
        {% endfor %}
    --></ul>
		{{ pager() }}
	</div>
</div>

</section>

</main>
<!-- End Content -->



{% endif %}

{% include '_footer.twig' %}

